{% extends 'base.html' %}

{% block title %} Create A new Map Mashup {% endblock title %}
{% block extra_head %}



    <script type="text/javascript">
        $(document).ready(function () {

            $ref = $(".btn-group");


            $("body").on('click', $ref.selector + ' .btn', function () {
                {% for layer in layers %}
                if ($(this).is('.on, .active')) {

                    if ($(this).parent().is('.layer{{ forloop.counter }}')) {
                        turnOnLayer(tiled{{ forloop.counter }}, "#mapslider{{ forloop.counter }}", "#trans{{ forloop.counter }}")
                    }

                } else {
                    if ($(this).is('.off, active')) {
                        if ($(this).parent().is('.layer{{ forloop.counter }}')) {
                            turnOffLayer(tiled{{ forloop.counter }}, "#mapslider{{ forloop.counter }}", "#trans{{ forloop.counter }}")
                        }


                    }
                }
                {% endfor %}
            });


            function turnOnLayer(layer, slider, trans) {
                map.addLayer(layer);
                if ($(slider).slider("value") == 0) {
                    $(slider).slider("option", "value", 60);
                }
                layer.setOpacity($(slider).slider("value") / 100);
                $(trans).html($(slider).slider("value") + "%");
            }

            function turnOffLayer(layer, slider, trans) {
                map.removeLayer(layer);
                $(slider).slider("option", "value", 0);
                layer.setOpacity(0 / 100);
                $(trans).html($(slider).slider("value") + "%");
            }


            $("[rel=tooltip]").tooltip();
            $("[rel=popover]").popover();

            $('.close-popover').live('click', function (e) {
                e.preventDefault();

                $('[rel=popover]').each(function () {
                    $(this).popover('hide');
                });
            });

        });


        var map ='';
        var format = 'image/png';
        var maxOpacity = 0.9;
        var minOpacity = 0.1;

        function changeOpacity(byOpacity) {
            var newOpacity = (parseFloat(OpenLayers.Util.getElement('opacity').value) + byOpacity).toFixed(1);
            newOpacity = Math.min(maxOpacity,
                    Math.max(minOpacity, newOpacity));
            OpenLayers.Util.getElement('opacity').value = newOpacity;
            shade.setOpacity(newOpacity);
        }

        var gmap = new OpenLayers.Layer.Google("Google Satellite", {
            type:google.maps.MapTypeId.SATELLITE,
            numZoomLevels:25
        });

        createLayer = function(name, layer, opacity) {
            return (new OpenLayers.Layer.WMS(name, "http://www.atlmaps.com:8080/geoserver/atlmaps/wms", {
                LAYERS:layer,
                format:format,
                TRANSPARENT:true
            }, {
                buffer:0,
                displayOutsideMaxExtent:true,
                isBaseLayer:false,
                srs:'EPSG:900913',
                opacity:opacity,
                transitionEffect:'resize'
            }));
        }


        function init() {
            var atlanta = new OpenLayers.LonLat(-9393381.0503354, 3995908.9838295);


            OpenLayers.ImgPath = "http://atlmaps.com/historicdowntown/images/dark/";
            options = {
                controls:[new OpenLayers.Control.Navigation(), new OpenLayers.Control.ArgParser(), new OpenLayers.Control.Attribution(), new OpenLayers.Control.PanZoom()]

            };
            map = new OpenLayers.Map('map', options);
            map.addLayer(gmap);
            gmap.mapObject.setTilt(0);

            

            {% for layer in layers %}
                {% if forloop.counter != 2 %}
              tiled{{ forloop.counter }} = createLayer('{{ layer.title }}', '{{ layer.wms_layer_name }}', 0);
                map.addLayer(tiled{{ forloop.counter }});
                handleSlider(tiled{{ forloop.counter }}, "#mapslider{{ forloop.counter }}", "#trans{{ forloop.counter }}", 0);
                {% endif %}
            {% endfor %}

            map.setCenter(atlanta, 16);


        }


        function handleSlider(layer, slider, trans, initial) {
            slider = $(slider)
            slider.slider({
                range:false,
                min:0,
                max:100,
                value:initial,
                step:1,
                slide:function (event, ui) {
                    $(trans).val = (ui.value);
                    $(trans).html($(slider).slider("value") + "%");
                    layer.setOpacity(ui.value / 100);
                }
            });
            $(trans).html($(slider).slider("value") + "%");
        }
    </script>

{% endblock extra_head %}

{% block content %}

    <div id="sidebar" class="span2">
        {% for layer in layers %}
        <h3>{{ layer.title }}</h3>
        <div>
          <p>
            <span class="btn-group layer{{ forloop.counter }}" data-toggle="buttons-radio">
              <button type="button" class="btn btn-small on active">
                  On
              </button>
              <button type="button" class="btn btn-small off">
                  Off
              </button> </span>
          </p>
          <br>
          <div id='mapslider{{ forloop.counter }}' class='slider'></div>
          <div id="trans{{ forloop.counter }}"></div>
        </div>
    {% endfor %}
    </div>

    <div id="map_container" class="span10">
        <div id="map" class="olMap"></div>
    </div>

{% endblock content %}