{% extends 'base.html' %}

{% block title %}{{ layer.title }} {% endblock title %}
{% block extra_head %}

<script type="text/javascript">
	$(document).ready(function() {

		$ref = $(".btn-group");
		$("body").on('click', $ref.selector + ' .btn', function() {
			if ($(this).is('.on, .active')) {

				if ($(this).parent().is('.layer1')) {
					turnOnLayer(tiled1, "#mapslider1", "#trans1")
				}

			} else {
				if ($(this).is('.off, active')) {
					if ($(this).parent().is('.layer1')) {
						turnOffLayer(tiled1, "#mapslider1", "#trans1")
					}

				}
			}
		});

		$("[rel=tooltip]").tooltip();
		$("[rel=popover]").popover();

		$('.close-popover').live('click', function(e) {
			e.preventDefault();

			$('[rel=popover]').each(function() {
				$(this).popover('hide');
			});
		});

	});

	var map;
	function init() {

	}
</script>

{% endblock extra_head %}

{% block content %}

<div id="sidebar" class="container-fluid">
	<h2>{{ layer.title }}</h2>

	<p>
		{{ layer.description }}
	</p>

	<div>

		<p>
			<span class="btn-group layer1" data-toggle="buttons-radio">
				<button type="button" class="btn btn-small on active">
					On
				</button>
				<button type="button" class="btn btn-small off">
					Off
				</button> </span>
		</p>
		<br>

		<div id='mapslider1' class='slider'></div>
		<div id="trans1"></div>
	</div>
</div>

<div id="map" class=""></div>

<script type="text/javascript">
	var atlanta = [33.755, -84.39];

	map = L.map('map').setView(atlanta, 15);
	var ggl = new L.Google();
	map.addLayer(ggl);

	$(document).ready(function() {
		var h = $(window).height(), offsetTop = 40;
		var w = $(window).width(), offsetLeft = 410;
		$('#map').css('height', (h - offsetTop));
		$('#sidebar').css('height', (h - offsetTop));
		$('#map').css('width', (w - offsetLeft));
		$('#map').css('left', offsetLeft);
		$('#map').css('bottom', 0)
		map.invalidateSize(false)
	});

	$(window).resize(function() {
		var h = $(window).height(), offsetTop = 40;
		var w = $(window).width(), offsetLeft = 410;
		$('#map').css('height', (h - offsetTop));
		$('#sidebar').css('height', (h - offsetTop));
		$('#map').css('width', (w - offsetLeft));
		$('#map').css('left', offsetLeft);
		$('#map').css('bottom', 0)
		map.invalidateSize(false)
	}).resize();

	tiled1 = createWMSLayer('{{ layer.title }}', '{{ layer.wms_layer_name }}', 0.6);
	map.addLayer(tiled1);
	handleSlider(tiled1, "#mapslider1", "#trans1", 60);

</script>

{% endblock content %}