{% extends 'base.html' %}

{% block title %}{{ map.title }} {% endblock title %}
{% block extra_head %}



    <script type="text/javascript">
        $(document).ready(function () {

            $ref = $(".btn-group");
            $("body").on('click', $ref.selector + ' .btn', function () {
                {% for layer in map.layers.all %}
                    if ($(this).is('.on, .active')) {
                        if ($(this).parent().is('.layer{{ forloop.counter }}')) {
                            turnOnLayer(tiled{{ forloop.counter }}, "#mapslider{{ forloop.counter }}", "#trans{{ forloop.counter }}")
                        }
                    } else {
                        if ($(this).is('.off, active')) {
                            if ($(this).parent().is('.layer{{ forloop.counter }}')) {
                                turnOffLayer(tiled{{ forloop.counter }}, "#mapslider{{ forloop.counter }}", "#trans{{ forloop.counter }}")
                            }
                        }
                    }
                {% endfor %}
            });

            $("[rel=tooltip]").tooltip();
            $("[rel=popover]").popover();

            $('.close-popover').live('click', function (e) {
                e.preventDefault();

                $('[rel=popover]').each(function () {
                    $(this).popover('hide');
                });
            });

        });


        var map, tiled1, tiled2, tiled3, tiled4, format = 'image/png';
        var maxOpacity = 0.9;
        var minOpacity = 0.1;

        var gmap = new OpenLayers.Layer.Google("Google Satellite", {
            type:google.maps.MapTypeId.SATELLITE,
            numZoomLevels:25
        });

        function init() {
            var atlanta = new OpenLayers.LonLat({{ map.center_lng }}, {{ map.center_lat }});

            OpenLayers.ImgPath = "http://atlmaps.com/historicdowntown/images/dark/";
            options = {
                controls:[new OpenLayers.Control.Navigation(), new OpenLayers.Control.ArgParser(), new OpenLayers.Control.Attribution(), new OpenLayers.Control.PanZoom()]

            };
            map = new OpenLayers.Map('map', options);
            map.addLayer(gmap);
            gmap.mapObject.setTilt(0);

        {% for layer in map.layers.all %}
            tiled{{ forloop.counter }} = createLayer('{{ layer.title }}', '{{ layer.wms_layer_name }}', 1);
            map.addLayer(tiled{{ forloop.counter }});
            handleSlider(tiled{{ forloop.counter }}, "#mapslider{{ forloop.counter }}", "#trans{{ forloop.counter }}", tiled{{ forloop.counter }}.opacity*100);
        {% endfor %}

            map.setCenter(atlanta, 16);


        }
    </script>

{% endblock extra_head %}

{% block content %}

    <div id="sidebar" class="span3">
        <header><h2>{{ map.title }}</h2></header>
        <p>{{ map.description }}</p>
        <div class="accordion-group" id="#accordion1">
            {% for layer in map.layers.all %}
                <div class="accordion-heading">
                    <h4>

                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse{{ forloop.counter }}">
                            <i class="icon-plus-sign"></i> <i class="icon-minus-sign hide"></i> {{ layer.title }}
                        </a>
                    </h4>
                </div>

                <div id="collapse{{ forloop.counter }}" class="accordion-body collapse in">
                    <div class="pull-left">
                <span class="btn-group layer{{ forloop.counter }}" data-toggle="buttons-radio">
                    <button type="button" class="btn btn-small on active">
                        On
                    </button>
                    <button type="button" class="btn btn-small off">
                        Off
                    </button>
                </span>
                    </div>
                    <div id='mapslider{{ forloop.counter }}' class='slider pull-left'></div>
                    <div id="trans{{ forloop.counter }}" class="pull-left"></div>

                    <p>{{ layer.description }}</p>
                </div>

            {% endfor %}
        </div>
    </div>

    <div id="map_container" class="span9">
        <div id="map" class="olMap"></div>
    </div>

{% endblock content %}