html, body, #content-container, #content {
	height: 100%;
}

#content {
	margin-top: 50px;
}

#sidebar {
	width: 410px;
	margin-left: 0px;
}
#map {
	position: absolute;
	overflow: hidden;
	z-index: 1;
	border: 0;
}
.pageheader {
	width: 310px;
}

#controls-bg {
	background-color: #FFFFFF;
	z-index: 1000;
}

.slider {
	width: 150px;
	margin-top: 9px;
	margin-left: 15px;
}
.legendbox {
	width: 20px;
}
img {
	max-width: none;
}

/*.accordion-body{ padding-left: 20px;}*/
.accordion-group {
	border: 0px;
}

